body{
    color:rgb(22, 22, 22);
    background:linear-gradient(to right top, #98fc71, #7dc9fc, #e1f574, #f36cdc, #d26aec);;
}
.heading{
    width: 80%;
    font-size: 22px;
}
#camera{
    border: 2px dashed  black;
    width: 350px;
    height: 300px;
}
.name_of_objects, #result_object_name, #result_object_accuracy{
    color:rgb(12, 12, 12);
}